.DS_Store
.dart_tool/
.idea/
.vscode/

.packages
.pub/
pubspec.lock

build/
example/build/

# Flutter/Dart specific
.flutter-plugins
.flutter-plugins-dependencies
*.iml
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history/

# Android specific
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/*.iml
**/android/**/GeneratedPluginRegistrant.*

# iOS/macOS specific
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*.xcworkspace
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/**/Flutter/App.framework
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.podspec
**/ios/**/Flutter/Generated.xcconfig
**/ios/**/Flutter/ephemeral/
**/ios/**/Flutter/app.flx
**/ios/**/Flutter/app.zip
**/ios/**/Flutter/flutter_assets/
**/ios/**/Flutter/flutter_export_environment.sh
**/macos/**/.DS_Store
**/macos/**/.AppleDouble
**/macos/**/.LSOverride
**/macos/**/Flutter/ephemeral/

# Windows specific
windows/src/*.exe
windows/src/*.obj
windows/src/*.dll
windows/src/*.a
windows/src/*.lib
windows/src/*.o
windows/src/*.exp
windows/src/*.def
windows/src/*.pdb

# Web
**/web/**/lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json